#root {
  text-align: center;
}
.container{
  display: flex;
  justify-content:center;
  gap: 15px;
  align-items: center;
  
}

img{
  width: 250px;
  height: 250px;
}

.footer{
display: flex;
justify-content:center;
gap: 15px;
align-items: center;  
height: 180px;

}